cachelib
certifi
charset-normalizer
click
colorama
cs50
Flask
Flask-Session
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy
sqlparse
termcolor
urllib3
Werkzeug
zipp
