{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block css %}href="/static/css/check_rooms.css media = "screen"{% endblock %}
{% block printcss %}href="/static/css/check_roomsprint.css" media = "print"{% endblock %}



{% block main %}

    {% if role == "admin" or role == "reception" or role == "reporting" or role == "reception manager" %}
    <!--  table tablestriped-->
    <table class=" ">
        <thead class="thead-dark"><!-- id="theadmain" -->
            <tr>
                <th class="text-start head">Rooms No.</th>
                <th class="text-start head">Price</th>
                <th class="text-end head">Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for room in rooms_data %}
                <tr>
                    <td class="text-start data">{{ room["room_number"] }}</td>
                    <td class="text-start data">{{ room["status"] }}</td>
                    <td class="text-end data">{{ room["price"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br><br><br>
    <!-- print report button -->
    <button onclick="window.print()">Print this page</button>
    {% else %}
        <div class="alert alert-danger" role="alert">
        <i class="bi bi-exclamation-octagon-fill"></i>
        Invalid role or suspicious action! 
        </div>
    {% endif %}

{% endblock %}