{% extends "layout.html" %}

{% block title %}
    Print Report
{% endblock %}

{% block css %}href="/static/css/printreport.css" media = "screen"{% endblock %}
{% block printcss %}href="/static/css/printreportprint.css" media = "print"{% endblock %}

{% block main %}

    {% if role == "admin" or role == "reporting" or role == "reception manager" %}
    <div>
        <div>
            <div>
    <table>
        <thead>
            <tr>
                <th>Employee's First Name</th>
                <th>Employee's Middle Name</th>
                <th>Employee's Last Name</th>
                <th>Employee's Role</th>
                <th>Employee's Actions notes of employee</th>                        
                <th>Employee's No.of reservations</th>
                <th>Employee's Actionsnotes</th>
            </tr>                        
        </thead>
        <tbody>
            {% for action in actions_of_employees %}
                <tr>
                    <td class="text-start data">{{ action["first_name"] }}</td>
                    <td class="text-start data">{{ action["middle_name"] }}</td>
                    <td class="text-end data">{{ action["last_name"] }}</td>
                    <td class="text-end data">{{ action["role"] }}</td>
                    <td class="text-end data">{{ action["action"] }}</td>
                    <!-- <td class="text-end data">{{ action["action_report.user_id"]}}</td> -->
                    <td class="text-end data">{{ action["number_of_reservations"] }}</td>
                    <td class="text-end data">{{ action["actions_notes_of_employee"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br><br><br>
            </div>
        </div>
    </div>
    <!-- print report button -->
    <button onclick="window.print()">Print this page</button>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <i class="bi bi-exclamation-octagon-fill"></i>
        Invalid role or suspicious action! 
    </div>
    {% endif %}

{% endblock %}