/* body{
  background-image: url("/static/images/empty-hallway-background.jpg");
} */
/* tables */
table {
    counter-reset: tableCount; 
    color: #f9f7f7;    
  }
  .counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount;  
  }
  #theadshares{
    background-color: #095b85;  }
  
  #theadcash{
    background-color: #343a40;
  }
  
  #theadmain{
    background-color: #4d512b;
  }
  
  tbody{
    background-color: #f9f7f7;
  }
.container{
  text-align: center;
  align-items: center;
}
.content{
  /*   display: flex;
flex-direction: column

  justify-content: center; ;*/
  text-align: center;
  align-items: center;
  width: 50%;
  border: 1px solid #000;
  background-color: #f9f7f7;

}
button{
  border-radius: 5px;
  width: 40%;
  background-color: #4f7e9699;
  margin: 50px;
  padding: 10px;
  font-size: 20pt;
  color: #f9f7f7;
}
a{
  text-decoration: none;
}